<!--
==============================================
; Title: about.component.html
; Author: Professor Krasso
; Date: 25 March 2020
; Modified By: Faye Van Roekel
; Description: About component page
;=============================================
-->

<div fxLayout="column" class="main-welcome" fxLayoutGap=10px>
    <h1 fxFlex class="title">
      nodebucket 101<br />
      <span class="subtitle">
            Employee Management System (EMS) was a company that started in 2013 by Bellevue University in Omaha, Nebraska.
            The company has grown rapidly and is continuously expanding.  The company works on customized web development 
            projects that are able to be deployed in any business environment.  Web tools and customized software are also 
            in the development offers for clients and customes.  The EMS company also employs many skilled developers.  EMS
            is a company on the cutting edge and develops products that look toward the future and are always looking for 
            new and exciting ways to promote and use technology that is flexible, easy to learn and user friendly.
        </span>    
    </h1> 
<div class="about-content">
    <mat-divider></mat-divider>
    <br />
    <p class="mat-body-for">
        <span class="p-title mat-headline">Overview</span><br />
            Nodebucket was created in 2020 by Bellevue University. The system is built using a MEAN stack.  
            MEAN stands for (M) MongoDB; (E) Express.js; (A) Angular; (N) Node. Faye is a student at Bellevue
            and has been creating and modifying the system.  Nodebucket is a class project that is used for task management.  
            The system is used to add and delete tasks and has the ability to see what 
            tasks have been accomplished.  There are weekly sprints in order to complete the project.  
    </p> 
    <br />
    <p class="mat-body-for">
        <span class="p-title mat-headline"> Schedule</span><br />
            Nodebucket is a simple log in system, which is custom made, where tasks can be viewed, compiled and deleted.  
            There are many features within Nodebucket.  It allows users or employees to have organized ways of doing and 
            organizing their tasks in order to meet business needs.  It can also be used for clients and customers.  Tasks or lists that need focus 
            are tracked and prioritized.  The program or software is able to be used on any type of mobile or desktop device.
            The system uses drag and drop in the interface.  This makes it easy to use and understand.  There is not a lot 
            of training in order to use the system, since it is very easy to use!  
            
        </p>
    </div>
</div>