.main-welcome {
    margin-top: 40px;
    width: 90%;
}

.title {
    text-align: center;
    font-weight: bold;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.about-content {
    width: 60%;
    margin: 0 auto;
}

.p-title {
    font-size: 24px;
    font-weight: bold;
    color: blue;
}
