<div fxlayout="column" class="main-welcome"> fxlayoutGap=10px>
    <h1 fxFlex class="title">
        nodebucket 101<br />
        <span class="subtitle">
            Employee Management System
        </span>    
    </h1> 
<div class="about-content">
    <mat-divider></mat-divider>
    <br />
    <p class="mat-body-for">
        <span class="p-title mat-headline">
            Overview</span><br />
            must include images with attribution
        nodebucket description here employee management system
    </p> 
    <br />
    <p class="mat-body-for">
        <span class="p-title mat-headline"> Schedule</span> <br />
        Details about nodebucket here...250 word minimum
    </p>
</div>
</div>